.summary-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0;
}

.summary-card {
    background: #ffffff;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-left h4 {
    margin: 0;
    color: #555;
    font-size: 14px;
}

.card-left h2 {
    margin: 6px 0;
    font-size: 24px;
    color: #000;
}

.card-left p {
    margin: 0;
    font-size: 12px;
    color: green;
}

.card-icon {
    font-size: 28px;
    background: #f2f4f8;
    padding: 10px;
    border-radius: 8px;
}